# Auto detect text files and perform LF normalization
* text=auto

# VFX Forth source files should always use LF
*.vfx text eol=lf
*.f text eol=lf

# Windows batch files should use CRLF
*.bat text eol=crlf

# Binary files
*.png binary
*.jpg binary
*.dat binary
*.dll binary
*.exe binary
*.orc binary
*.sco binary