node_modules
*.log
XREF.XRF
engineer.exe

textmode/Release/textmode.12345678.tlog/CL.command.1.tlog

*.tlog

bin/textmode_renderer.exp

bin/textmode_renderer.lib

bin/textmode_renderer.pdb

*.obj

*.iobj

textmode/Release/textmode_renderer.ipdb

textmode/Release/vc143.pdb

dumps

.claude/settings.local.json

.tiled-session

diff.txt

/main.vfx

rel
*.tiled-session

cjson/actor.json

cjson/out.json

cjson/scene.json
